<h1>All Lists</h1>

<br>

<% if @lists.any? %>
	<!-- loop the schools and display links to each one -->
	<ul>
		<% @lists.each do |list| %>
		<li>
			<%= link_to list.name, list_path(list) %>
		</li>
		<% end %>
	</ul>
<% else %>
	<h3>No lists found. Please create one!</h3>
<% end %> 

<%= link_to 'New List', new_list_path %>
