<% require 'pry' %>

<h1>All Items</h1>

<% if @items.any? %>
	<ul>
		<% @items.each do |item| %>
		<li>
			<%= link_to item.name, item_path(item) %>
			<%= item.list_id %>
			<%= item.description %>
		</li>
		<% end %>
	</ul>
<% else %>
	<h3>No items found. Please create one!</h3>
<% end %> 


<%= link_to 'New Item', new_item_path %>
